{% extends 'author/base.html' %}
{% load static %}
{% block content %}

<div id="sidebar">
    <div style="display: flex;
                 justify-content: center;
                 align-items: center;
                 text-align: center;
                 padding: 20px;
                 border-right: 1px rgba(255, 252, 252, 0.2);">
        <img src="{{user.image.url}}" alt="Profile Image" style="height: 100px;width: 100px;border-radius:50%;object-fit: cover;">
    </div>
    <h4 style="text-align: center;color: #dde;">
       {{user.username}}
        <!-- User name -->
    </h4>
    <div style="text-align:center;margin-top:20px"><button class="btn btn_user in">Admin Panel</button></div>
    <br>
    <hr style="background-color: rgb(100, 98, 98);">
    <a href="/authordash" class="active"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
    <a href="{% url 'authorprofile' user.id %}"><i class="fa fa-address-card-o" aria-hidden="true"></i>My Profile</a>
    <a href="authordash/manageuser"><i class="fa fa-cogs" aria-hidden="true"></i>Manage Users</a>
    <a href="authordash/userrequest"><i class="fa fa-bell" aria-hidden="true"></i>Requests</a>
    <a href="authordash/event_list"><i class="fa fa-calendar" aria-hidden="true"></i>Event List</a>
    <a href=""><i class="fa fa-calendar" aria-hidden="true"></i>Delete Event</a>
    <a href="logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
</div>
       <div class="content" style="padding: 10px;" >
          <div class="mobileShow">
             <button class="btn btn-info" onclick="a()" data-toggle="tooltip" data-placement="top" title="Tooltip on top"
                id="btn_hide_show"><i class="fa fa-chevron-up" aria-hidden="true" id="icon"></i></button>
          </div>
          
            <h1>Add Event</h1>
            <br/><br/>
            
            <!-- {% if submitted %}
                    Your Event Was Submitted Succefully!!!
            
            {% else %} -->
            
                    <form action="" method=POST enctype="multipart/form-data">
                        {% csrf_token %}
            
                        {{ form.as_p }}
                        <input type="hidden" name="username" value="{{user.username}}">
            
                        <input type="submit" value="Submit" class="btn btn-warning">
            
                    </form>
            {% endif %}
            
            </div>
            </div>
          </div>
       </div>
       </div>

{% endblock %}