{% extends 'author/base.html' %}
{% load static %}
{% block content %}

<div id="sidebar">
    <div style="display: flex;
                 justify-content: center;
                 align-items: center;
                 text-align: center;
                 padding: 20px;
                 border-right: 1px rgba(255, 252, 252, 0.2);">
        <img src="{{user.image.url}}" alt="Profile Image" style="height: 100px;width: 100px;border-radius:50%;object-fit: cover;">
    </div>
    <h4 style="text-align: center;color: #dde;">
       {{user.username}}
        <!-- User name -->
    </h4>
    <div style="text-align:center;margin-top:20px"><button class="btn btn_user in">Admin Panel</button></div>
    <br>
    <hr style="background-color: rgb(100, 98, 98);">
    <a href="/authordash"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
    <a href="{% url 'authorprofile' user.id %}"><i class="fa fa-address-card-o" aria-hidden="true"></i>My Profile</a>
    <a href="/manageuser"><i class="fa fa-cogs" aria-hidden="true"></i>Manage Users</a>
    <a href="/userrequest"><i class="fa fa-bell" aria-hidden="true"></i>Requests</a>
    <a href="/adminseeattendee"><i class="fa fa-cogs" aria-hidden="true"></i>See Attendee</a>
    <a href="/aevent_list" class="active"><i class="fa fa-calendar" aria-hidden="true"></i>Event List</a>
    <a href="/add_event"><i class="fa fa-calendar" aria-hidden="true"></i>Add Event</a>
    <a href="logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
</div>
       <div class="content" style="padding: 10px;" >
          <div class="mobileShow">
             <button class="btn btn-info" onclick="a()" data-toggle="tooltip" data-placement="top" title="Tooltip on top"
                id="btn_hide_show"><i class="fa fa-chevron-up" aria-hidden="true" id="icon"></i></button>
          </div>
          
            <h1>All Events</h1>
            <br/><br/>

            {% for event in event_list %}

<div class="card">
  <div class="card-header">
    {{ event }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Venue: {{ event.venue }}</h5>
    <p class="card-text">
    	<ul>
<li>Date: {{ event.event_date }}</li>
{% if event.event_image %}
<img src="{{event.event_image.url}}" class="text-center rounded float-right" alt="..." style="height: 200px; width: 200px; object-fit: cover;">
{% endif %}
<li>Days Till Event: {{ event.Days_till }}</li>
<li>Occured: {{ event.Is_Past}}</li>
<li>Description: {{ event.description }}</li>
<br/>
	</li>
	</ul>
    </p>
  </div>
  {% if user.is_authenticated %}
      <div class="card-footer text-muted">
        
        <a href="{% url 'edit_event' event.id %}" class="btn btn-outline-warning btn-sm">Update Event</a>
        <a href="{% url 'delete_event' event.id %}" class="btn btn-outline-warning btn-sm">Delete Event</a>

      </div>
  {% endif %}
</div>



<br/><br/>


{% endfor %}
            
            </div>
            </div>
          </div>
       </div>
       </div>

{% endblock %}