{% extends 'user/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
   <body style="background-color: rgb(248, 246, 246);">
      {% csrf_token %}
    {% load static%}
    <div id="sidebar">
       <div style="display: flex;
                   justify-content: center;
                   align-items: center;
                   text-align: center;
                   padding: 20px;
                   border-right: 1px rgba(255, 252, 252, 0.2);">
          <img src="{{user.image.url}}" alt="Profile Image" style="height: 100px;width: 100px;border-radius:50%;object-fit: cover;">
       </div>
       <h4 style="text-align: center;color: #dde;">
         {{user.username}}
          <!-- User name -->
       </h4>
       <div style="text-align:center;margin-top:20px"><button class="btn btn_user in">Student Panel</button></div>
       <br>
       <hr style="background-color: rgb(100, 98, 98);">
       <a href="/userdash"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Dashboard</a>
       <a href="{% url 'userprofile' user.id %}"><i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp;My Profile</a>
       <a href="/userallevents"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;All Events</a>
       <a href="/cart" class="active"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Cart</a>
       <a href="/myorder"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;My Order</a>
       <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
    </div>
    <div class="content" style="padding: 10px;">
        <div class="mobileShow">
            <button class="btn btn-info" onclick="a()" data-toggle="tooltip" data-placement="top" title="Tooltip on top"
                id="btn_hide_show"><i class="fa fa-chevron-up" aria-hidden="true" id="icon"></i></button>
        </div>
        <div class="content" style="padding: 10px;" >
            <div class="mobileShow">
               <button class="btn btn-info" onclick="a()" data-toggle="tooltip" data-placement="top" title="Tooltip on top"
                  id="btn_hide_show"><i class="fa fa-chevron-up" aria-hidden="true" id="icon"></i></button>
            </div>
            
              
              <br/><br/>
              <div class="card" style="width: 28rem;">
                <div class="card-body">
                    <form action="/paynow" method="post">{% csrf_token %}
                        <label for="attendeename">Attendee Name</label>
                        <input type="text" class="form-control" name="attendeename" id="attendeename" value="{{cuser.first_name}}" required>
                        <br>
                        <label for="attendeeemail">Attendee EmailId</label>
                        <input type="email" class="form-control" name="attendeeemail" id="attendeeemail" value="{{cuser.email}}" required>
                        <br>
                        <label for="attendeephone">Attendee Phone Number</label>
                        <input type="text" class="form-control" name="attendeephone" id="attendeephone" pattern="[6789][0-9]{9}" required> 
                        <br>
                        <label for="amount">Event Amount</label>
                        <input type="text" class="form-control" name="amount" value="{{total}}" id="amount" readonly>
                        <br><br>
                        <input type="submit" class="btn btn-primary" value="Pay Now">
        
        
                     </form>
                </div>
              </div>
              
  
              
  
  
  
  <br/><br/>
  
              
              </div>
              </div>
            </div>
    {% endif %}
{% endblock %}